{% extends "AppBlog/about.html" %}

{% block contenido_about %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Hola. Mi nombre es Nicolas Antonio Gallardo, tengo 20 años soy de la provincia de Buenos Aires, Argentina</p>
                <p>siempre quise estudiar programacion </p>
                <p>nose que poner xD</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/nico_galla_/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}