{% extends "AppBlog/base.html" %}

{% block main %}

<h1>Inicio De Sesion</h1>

<form action="" method="POST">
    {% csrf_token %}
    
    {{ formulario.as_p }}
    {{ formulario.non_field_errors }}
        
    <input type="submit">Iniciar Sesión</button>
</form>

{% if user.is_authenticated %}
    <p>Hola!, {{ user.username }}! Has iniciado sesion.</p>
    <a href="{% url 'logout' %}">Cerrar sesión</a>

{% else %}
    <p>No has iniciado sesion. Por favor inicie sesion.</p>
    
{% endif %}

{% endblock %}