{% extends "AppBlog/inicio.html" %}

{% load static %}
{% block header %}
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Regístrate!</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block main %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <body>
                <h1>Register</h1>
                <form action="" method="POST"> {% csrf_token %}
                    
                        {{ form.as_p }}
                    
                    <input type="submit" value="Enviar">
                </form>
            </body>

{% endblock %}

{% block footer %}

{% endblock %}